/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* __________________________________________________________________________ */
/* Général */

*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* __________________________________________________________________________ */
/* Header */

header{
  position: absolute;
  top: 40px;
  left: 77px;
}

header h3{
  font-family: 'Inconsolata', monospace;
  font-weight: 700;
  font-size: 1.5rem;
  color: #333333;
}

/* __________________________________________________________________________ */
/* Main */

main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Scarecrow image */
.imageContainer, .textContainer {
  width: 45%;
  overflow: hidden;
}

.imageContainer{
  text-align: center;
}

.image{
  width: 80%;
  min-width: 400px;
  max-width: 540px;
  margin: 0 auto;
}


.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Text */
.textContainer{
  font-family: 'Space Mono', monospace;
  margin-right: 120px;
  color: #333333;
}

.textContainer h1{
  font-size: 4rem;
  font-weight: 700;
  line-height: 95px;
}

.textContainer p{
  width: 380px;
  font-size: 1.5rem;
  line-height: 36px;
  margin-top: 36px;
  margin-bottom: 64px;
  letter-spacing: -0.035em;
}

.textContainer button{
  width: 216px;
  height: 68px;
  background-color: #333333;
  text-align: center;
  font-size: 0.875rem;
  color: #FFFFFF;
  border:5px solid transparent;
  border-radius: 5px;
  transition: background-color 0.4s ease-out, border-color 0.4s ease-out, color 0.4s ease-out;
}

.textContainer button:hover{
  background-color: #ffffff;
  border-color: #333333;
  color: #333333;
}

.textContainer button:active{
    background-color: #4df1ac;
}

@media screen and (max-width:1200px) {
  .textContainer{
    margin-right: 40px;
  }

}

/* __________________________________________________________________________ */
/* Footer */

footer{
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: #BDBDBD;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

footer. h6{
  font-size: 0.875rem;
  font-weight: 500;
}

footer h6 span{
  font-weight: 700;
}
